@page "/devices"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject AwairBlazor.Services.AppData appData

<h1>Awair Devices</h1>
<DeviceList Full=true></DeviceList>


@code {

    //protected override async Task OnInitializedAsync()
    //{
    //    await appData.InitAsync();
    //}

}