@page "/"
@inject NavigationManager navManager
@inject AwairBlazor.Services.AppData appData

<h1>Awair</h1>

<p>Enter the bearer token from <a href="https://developer.getawair.com/console/access-token">https://developer.getawair.com/console/access-token</a></p>

<input type="text" width="200" id="bearer" @bind="appData.Bearer.Value" />
<br />
<button class="btn btn-primary" @onclick="appData.Bearer.CommitValueAsync">Save</button>

@code{
    protected override async Task OnInitializedAsync()
    {
        var uri = navManager.ToAbsoluteUri(navManager.Uri);

        // get values from localstorage
        await appData.InitAsync();

        // override token if coming from url parameter
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("token", out var param))
        {
            await appData.Bearer.SetValueAsync(param.First());
        }
    }
}