@page "/"
@inject AwairBlazor.Services.AppData appData

<h1>Awair</h1>

<p>Enter the bearer token from <a href="https://developer.getawair.com/console/access-token">https://developer.getawair.com/console/access-token</a></p>

<p><input type="text" style="width: 100%;" id="bearer" @bind="appData.Bearer.Value" /></p>

<p>CORS proxy for API calls (default: "@appData.DefaultProxy") <a href="https://github.com/smklancher/AwairWeb/issues/16">(more details)</a></p>
<p><input type="text" style="width: 100%;" id="proxy" @bind="appData.Proxy.Value" /></p>
<br />
<button class="btn btn-primary" @onclick="SaveSettings">Save</button>

@code{
    private async Task  SaveSettings()
    {
        await appData.Bearer.CommitValueAsync();
        await appData.Proxy.CommitValueAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        System.Diagnostics.Trace.WriteLine(this.GetType().ToString() + ": Init");
        await appData.InitAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        System.Diagnostics.Trace.WriteLine(this.GetType().ToString() + $": AfterRender" + (firstRender ? " firstRender" : string.Empty));
        return base.OnAfterRenderAsync(firstRender);
    }
}