@page "/"
@inject AwairBlazor.Services.AppData appData

<h1>Awair</h1>

<p>Enter the bearer token from <a href="https://developer.getawair.com/console/access-token">https://developer.getawair.com/console/access-token</a></p>

<input type="text" width="200" id="bearer" @bind="appData.Bearer.Value" />
<br />
<button class="btn btn-primary" @onclick="appData.Bearer.CommitValueAsync">Save</button>

@code{
    protected override async Task OnInitializedAsync()
    {
        System.Diagnostics.Trace.WriteLine(this.GetType().ToString() + ": Init");
        await appData.InitAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        System.Diagnostics.Trace.WriteLine(this.GetType().ToString() + $": AfterRender" + (firstRender ? " firstRender" : string.Empty));
        return base.OnAfterRenderAsync(firstRender);
    }
}