@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject NavigationManager navManager

<h1>Awair</h1>

<p>Enter the bearer token from <a href="https://developer.getawair.com/console/access-token">https://developer.getawair.com/console/access-token</a></p>

<input type="text" width="200" id="bearer" @bind="AwairBearerToken" />
<br />
<button class="btn btn-primary" @onclick="UpdateLocalStorage">Save</button>

@code{
    string AwairBearerToken;

    public async void UpdateLocalStorage()
    {
        await localStore.SetItemAsync(AwairService.BearerStorageKey, AwairBearerToken);
    }

    protected override async Task OnInitializedAsync()
    {
        var uri = navManager.ToAbsoluteUri(navManager.Uri);

        // get and save token if coming from url parameter
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("token", out var param))
        {
            AwairBearerToken = param.First();
            await localStore.SetItemAsync(AwairService.BearerStorageKey, AwairBearerToken);
        }
        else
        {
            // otherwise try to get it from localstorage
            AwairBearerToken = await localStore.GetItemAsync<string>(AwairService.BearerStorageKey);
        }

    }
}