
@inject AwairBlazor.Services.AppData appData

<span>24 Hours</span>
<MatSlideToggle @bind-Value="@appData.PastHour.Value" @bind-Value:event="onchange" @onclick="DetailClicked"></MatSlideToggle>
<span>1 Hour</span>

@code {

    // Callback to update parent component
    [Parameter] public EventCallback<string> OnDetailClicked { get; set; }

    private async Task DetailClicked()
    {
        // set value without saving back to storage yet
        appData.PastHour.Value = !appData.PastHour.Value;

        StateHasChanged();

        if (OnDetailClicked.HasDelegate)
        {
            // call update to parent component
            await OnDetailClicked.InvokeAsync();
        }

        // now commit to storage
        await appData.PastHour.CommitValueAsync();
    }
}
