@inherits LayoutComponentBase
@inject NavigationManager navManager
@inject AwairBlazor.Services.AppData appData

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/smklancher/AwairWeb/" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@code{

    protected override async Task OnInitializedAsync()
    {
        System.Diagnostics.Trace.WriteLine(this.GetType().ToString() + ": Init");
        await appData.InitAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        System.Diagnostics.Trace.WriteLine(this.GetType().ToString() + $": AfterRender" + (firstRender ? " firstRender" : string.Empty));
        return base.OnAfterRenderAsync(firstRender);
    }
}