@inherits LayoutComponentBase
@inject NavigationManager navManager
@inject AwairBlazor.Services.AppData appData

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/smklancher/AwairWeb/" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code{
    protected override async Task OnInitializedAsync()
    {
        var uri = navManager.ToAbsoluteUri(navManager.Uri);

        // get values from localstorage
        await appData.InitAsync();

        // override token if coming from url parameter
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("token", out var param))
        {
            await appData.Bearer.SetValueAsync(param.First());
        }
    }
}