@inject Services.AppData appData
@inject NavigationManager navManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AwairBlazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass nav-all" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="temp">
                <span class="oi oi-plus" aria-hidden="true"></span> Temp
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="humidity">
                <span class="oi oi-plus" aria-hidden="true"></span> Humidity
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="co2">
                <span class="oi oi-plus" aria-hidden="true"></span> CO2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="vocs">
                <span class="oi oi-plus" aria-hidden="true"></span> VOCs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pm">
                <span class="oi oi-plus" aria-hidden="true"></span> PM 2.5
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="devices">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Devices
            </NavLink>
        </li>
    </ul>
</div>

@code {

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        System.Diagnostics.Trace.WriteLine(this.GetType().ToString() + ": Init");
        await appData.InitAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        System.Diagnostics.Trace.WriteLine(this.GetType().ToString() + $": AfterRender" + (firstRender ? " firstRender" : string.Empty));
        return base.OnAfterRenderAsync(firstRender);
    }
}